/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-image: url(./img/bg.png); font-family: Roboto, "Helvetica Neue", sans-serif; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 5;
  }

  .menu-gora {
    flex: 4;
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;

  }
.ksiazki {
    display: flex;
    flex-direction: row;
    
}
.card{
    width: 180px;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.card-body{
  margin-top: 10px;
}
.card-tytul{
  margin-top: -20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight:600;
  text-align: center;
}


.wyszukaj {
    display: flex;
    flex-direction: row;
    font-size: 14px;

}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.btn-circle1 {
  width: 80px;
  height: 80px;
  padding: 7px 0px;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 1.42857;
}
.contact{
  padding: 4%;
  height: 400px;
}
.col-md-3{
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}
