/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-image: url(./img/bg.png); font-family: Roboto, "Helvetica Neue", sans-serif; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    width: 100%;
  }

  .menu-gora {
    white-space: nowrap;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  

  .toolbar img {
    margin: 0 16px;
  }

  .container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
min-height: 100%;
  }
.ksiazki {
    display: flex;
    flex-direction: row;
    
}
.card{
    width: 180px;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.card-body{
  margin-top: 10px;
}
.card-tytul{
  margin-top: -20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight:600;
  text-align: center;
}
.card-autor{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.formularz{
  flex-direction: row;
}

.wyszukaj {
    display: flex;
    flex-direction: row;
    font-size: 14px;

}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.btn-circle1 {
  width: 80px;
  height: 80px;
  padding: 7px 0px;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 1.42857;
}
.contact{
  padding: 4%;
  height: 400px;
}
.col-md-3{
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}
footer{
  position: static;
  text-align: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
}
.container-contact{
  width: 60%;
}

.toggle-button {
  position:absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}



.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;

}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.01rem;
  margin-left: 3px;
}

.navbar-links li:hover {
  background-color: #1976d2;
}



.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}



.toggle-button .bar {
  opacity:1;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1000px){
  .ksiazki {
    display: inline-table;
  }

}

@media (max-width: 715px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links a {
      padding: .5rem 1rem;
  }

  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.09rem;
}

  .navbar-links.active {
      display: flex;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    width: -webkit-fill-available;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1
  px
  solid transparent;
    padding: 0.375
  rem
  0.75
  rem
  ;
    font-size: 1rem;
    border-radius: 0.25
  rem
  ;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

}