html, body { height: 100%; }
.calosc {
    display: flex;
    flex-direction: row;
  }
  .lewa-panel{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);       
    width: 25%;
    height: auto;
    color: white;
  }
  .logo {
      text-align: center;
      padding-top: 8px;
  }
    .linki{
        padding-left: 20px;
    }
  .prawa-panel{
    background-color: #edf6f9;
    width: 75%;
    height: auto;
    text-align: center;
    flex-direction: column;
  }
  .panel-prawa-gora{
    text-align: right;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 23px;
    flex-direction: row;
  }
  .formularz-dodania-ksiazki {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .zmianahasla {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wyszukaj-czytelnika{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer{
    align-items: center;
    text-align: center;
    margin-top: auto;
  }
